.body {
  height: 100vh;
  background-color: #bbbbbb;
  padding-bottom: 10px;
  padding-left: 95px;
}
.content {
  text-align: center;
  padding: 0 30px;
}
@media (max-width: 1000px) {
  .body {
    padding-left: 0px;
    height: 96vh;
  }
}
